.bar-container {
  align-items: center;
  position: relative;
  width: 95vw;
  background-color: #0f172a;
  border-radius: 1vw;
  margin: 0 auto;
  padding: 1vw;
}

.bar {
  /* width: 1.3vw; */
  display: inline-block;
  margin: 0 1px;
  background-color: #c0caf5;
  text-align: center;
}

.sort-button {
  background-color: #7aa2f7;
  color: #0f172a;
  border-color: #7aa2f7;
  border-radius: 5%;
}

.sort-button:hover {
  background-color: #7aa2f7;
  border-color: #7aa2f7;
}

.buttons-container {
  margin-left: 2vw;
  margin-top: 0.5vw;
}

@media screen and (max-width: 600px) {
  .sort-button {
    width: 15vw;
    margin-right: 2vw;
    font-size: x-small;
  }
}
