.bar-container {
  /* position: absolute; */
  position: relative;
  width: 95vw;
  background-color: #4581c0;
  border-radius: 1vw;
  margin: 0 auto;
  padding: 1vw 1vw 1vw 1vw;
}
.bar {
  /* width: 1.3vw; */
  display: inline-block;
  margin: 0 1px;
  background-color: orange;
  text-align: center;
}

.sort-button {
  background-color: orangered;
  color: white;
  border-color: white;
  border-radius: 5%;
}

.sort-button:hover {
  background-color: #ffcc00;
  border-color: #f48825;
}

.buttons-container {
  margin-left: 1vw;
  margin-top: 0.5vw;
}

@media screen and (max-width: 600px) {
  .bar {
    width: 1vw;
  }
  .sort-button {
    width: 20vw;
    margin-right: 2vw;
    font-size: x-small;
  }
}
